<label>
  <select class="languageSelector" data-page="<%= page.pathname %>" data-root="<%= site.root %>">
    <% for (const locale of page.locales) { %>
      <% if (page.locale == locale) { %>
        <option value="<%= locale %>" selected><%= site.localeMap[locale].name %></option>
      <% } else { %>
        <option value="<%= locale %>"><%= site.localeMap[locale].name %></option>
      <% } %>
    <% } %>
  </select>
</label>